/* COLORS */

$body-bg: hsl(131, 43%, 52%);
$header-footer-mid-bg: hsl(0, 0%, 0%);
$container-two-bg: hsl(0, 0%, 100%);
$container-two-educate-biz-button-bg: hsl(131, 43%, 52%);



/*FONT COLOR*/
$header-font: hsl(0, 0%, 100%);
$container-one-font: hsl(0, 0%, 100%);
$middle-bar-font: hsl(0, 0%, 100%);
$container-two-big-copy-font: hsl(131, 43%, 52%);
$container-two-subheadline-font: hsl(131, 43%, 52%);
$container-two-copy-font: hsl(0, 0%, 50%);
$container-two-educate-biz-button-font: hsl(0, 0%, 100%);

/*FONT STYLE*/
$font: 'Gotham Rounded';



