@charset 'utf-8';
@import 'variables';
@import 'mediaqueries';
@import 'normalize';

/*MAIN CONTAINER*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: block;
}

body {
  background: $body-bg;
  margin: 0em;
  box-sizing: border-box;
  font-size: 100%;
}

.main-container-wrapper {
  margin-bottom: 2rem;
  display: inline-flex;
  flex-direction: column;
  background: $body-bg;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


/*NAV*/

.nav {
  font-family: $big-copy-font-family;
  height: 15vh;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  background: $header-footer-mid-bg;
  color: $header-font;
  position: static;
  padding-bottom: 5px;
  align-items: center;
}

.nav-items {
  justify-content: space-around;
  align-items: center;
  flex: none;
}

.nav-items ul li {
  flex-wrap: nowrap;
  display: inline-flex;
  width: 5rem;
  float: left;
  align-self: center;

}

.nav-items li a {
  font-size: 1.35rem;
  flex-grow:1;
  flex-basis: auto;
  flex-wrap: nowrap;
  align-self: center;

}

li {
  display: inline;
  align-items: center;
}

ul {
 list-style-type: circle;
 list-style-position: inside;
 align-self: center;
 }

 a {
  align-self: center;
 }

.header-logo img{
  align-self: center;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.header-link a{
  align-self: center;
}

.grid {
  flex-wrap: wrap;
  flex-direction: row;
}

.header-wrapper {
  margin: 0 auto;
  display: inline-flex;
  align-content: center;
}

.menu {
  align-items: center;
}

/*CONTAINER ONE*/

.container-one {
  // height: 115vh;
  display: flex;
  color: $container-one-font;
  background-color: $body-bg;
  padding-bottom: 2em;
}
.container-one-full-logo img{
  max-height: 100%;
  max-width: 100%;
  padding-top: 5em;
  align-self: center;
}

.container-one-big-copy {
  font-family: $big-copy-font-family;
  color: $container-one-font;
  align-self: center;
  justify-content: flex-end;
  text-align: right;
  display: inline-block;
  font-size: 5rem;
  max-width: 100%;
}

.container-one-big-copy span {
  justify-content: flex-end;
  max-width: 100%;
}

/*MIDDLE BAR*/

.middle-bar {
  background-color: $header-footer-mid-bg;
  font-family: $big-copy-font-family;
  width: 100%;
  height: 5em;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.link-to-ed-biz h1{
  text-align: center;
  color: $middle-bar-font;
  line-height: 100%;
  font-size: 2.75em;
}

/*CONTAINER TWO*/

.container-two {
  width: 100%;
  height: 150vh;
  background: $container-two-bg;
  display: flex;
  color: $container-two-big-copy-font;
  justify-content: center;
}

.container-two-postcard {
  align-self: center;
}

.container-two-all-copy-button {
  display: block;
  justify-content: center;
  width: 48vw;
  align-self: center;
  margin-left: 115px;
}

.container-two-big-copy {
  text-align: center;
  text-align: left;
}

.container-two-big-copy h1{
  font-family: $big-copy-font-family;
  font-size: 2.5em;
}

.container-two-big-copy h3 {
  font-size: 1.5em;
  font-family: $big-copy-font-family;

}

.container-two-subheadline {
  text-align: left;
  font-family: $big-copy-font-family;

}

.container-two-copy {
  text-align: justify;
  color: $container-two-copy-font;
  text-align: left;
  font-family: $smalll-copy-font-family;
}

.container-two-educate-biz-button {
  text-align: center;
  align-self: flex-end;
  align-items: flex-end;
}

.button {
  border-top: 0px solid $body-bg;
  background: $body-bg;
  background: -webkit-gradient(linear, left top, left bottom, from($body-bg), to($body-bg));
  background: -webkit-linear-gradient(top, $body-bg, $body-bg);
  background: -moz-linear-gradient(top, $body-bg, $body-bg);
  background: -ms-linear-gradient(top, $body-bg, $body-bg);
  background: -o-linear-gradient(top, $body-bg, $body-bg);
  padding: 20px 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: white;
  font-size: 24px;
  font-family: $big-copy-font-family;
  text-decoration: none;
  vertical-align: middle;
  border-style: none;
  border-color: none;
}

.button:hover {
  border-top-color: #6b6b6b;
  background: #6b6b6b;
  color: #ffffff;
}

/*CONTAINER THREE*/

.container-three {
  font-family: $big-copy-font-family;
  background: $body-bg;
  color: $container-three-font;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}

.container-three-header {
  font-size: 3.5rem;
  text-align: center;
  display: flex;
}

.container-three-links {
  display: inline-flex;
  justify-content: center;
  font-size: 2.3rem;
}

.container-three-biz-link {
  align-self: center;
  max-width: 350px;
  text-align: left;
  margin-left: 125px;

}

.container-three-common-folk-link {
  align-self: center;
  max-width: 345px;
  text-align: left;
  margin-left: 125px;
  vertical-align: center;

}

/*CONTAINER FOUR*/

.container-four {
  height: 150vh;
  background: $container-four-bg;
  width: 100%;
  display: flex;
}

.poster-left {
  width: 20%;
  padding-top: 25px;
  margin-left: 50px;
}

.poster-mid-left {
  width: 20%;
  padding-top: 25px;
  margin-left: 50px;
}

.poster-mid-right {
  width: 20%;
  padding-top: 25px;
  margin-left: 50px;
}

.poster-right {
  width: 20%;
  padding-top: 25px;
  margin-left: 50px;
}

.container-four-header {
  font-family: $big-copy-font-family;
  color: $container-four-header-font;
  font-size: 26px;
  text-align: center;
  margin-top: 25px;
}

.container-four-copy {
  font-family: $smalll-copy-font-family;
  color: $container-four-copy-font;
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}

.container-four-price-button {
  font-family: $big-copy-font-family;
  color: $container-four-price-button-font;
  text-align: center;
  margin-top: 25px;
  width: 50%;
  margin-left: 70px;
}

.button-four {
  border-top: 0px solid $body-bg;
  background: $body-bg;
  background: -webkit-gradient(linear, left top, left bottom, from($body-bg), to($body-bg));
  background: -webkit-linear-gradient(top, $body-bg, $body-bg);
  background: -moz-linear-gradient(top, $body-bg, $body-bg);
  background: -ms-linear-gradient(top, $body-bg, $body-bg);
  background: -o-linear-gradient(top, $body-bg, $body-bg);
  padding: 7.5px 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 23px;
  font-family: $big-copy-font-family;
  text-decoration: none;
  vertical-align: middle;
  border-style: none;
  border-color: none;
}

.button-four:hover {
   border-top-color: #6b6b6b;
   background: #6b6b6b;
   color: #ffffff;
}

.button-four:active {
   border-top-color: #5e5e5e;
   background: #5e5e5e;

}

/*FOOTER*/

.footer {
  height: 30vh;
  width: 100%;
}

/*RESPONSIVE*/

// @media only screen and (max-width: 768px) {
//   .site-pusher,
//   .site-container {
//     height: 100%;
//   }

//   .site-container {
//     overflow: hidden;
//   }

//   .site-pusher {
//     @include transition-duration(0.3s);
//     @include transform(translateX(0px));
//   }

//   .site-content {
//     position: absolute;
//     top: 66px;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     padding-top: 0;
//     overflow-y: scroll;
//     -webkit-overflow-scrolling: touch;
//   }

//   .header {
//     position: static;
//   }

//   .header_logo {
//     position: relative;
//     display: block;
//     float: left;
//     width: 50px;
//     height: 66px;

//     cursor: pointer;

//     &:after {
//       content: '';
//       position: absolute;
//       display: block;
//       width: 1rem;
//       height: 0;
//       top: 16px;
//       left: 15px;
//       }
//     }

//   .menu {
//     position: absolute;
//     left: 0;
//     top: 0;
//     bottom: 0;
// }

// width: $menu-width;

//     @include transform(translateX($menu-width * -1));
//     a {
//       display: block;
//       height: 40px;

//       text-align: center;
//       line-height: 40px;

//       border-bottom: 1px solid $header-footer-mid-bg;
//     }

//   .with--sidebar {
//     .site-pusher {
//       @include transform(translateX($menu-width));
//     }
//     .site-cache {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//     }
//   }
// }

